[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
googlemaps = "*"
flask-swagger-ui = "*"
flask-cors = "*"
geopy = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
