[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
click = "*"
flask-swagger-ui = "==3.36.0"
geographiclib = "*"
geopy = "*"
google-streetview = "*"
idna = "*"
itsdangerous = "*"
kwconfig = "*"
pymongo = "*"
requests = "*"
sentry-sdk = "*"
six = "*"
urllib3 = "*"
matplotlib = "*"
mpld3 = "*"
googlemaps = "*"
Flask-Cors = "==3.0.10"
Flask = "==1.1.2"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
gmaps = "*"
pandas = "*"
blinker = "*"

[dev-packages]

[requires]
python_version = "3.9"
